<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink = "/color/getall">Colors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink = "/brand/getall">Brands</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/customer">Customers</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/rental">Rentals</a>
          </li>

          <app-cart-summary></app-cart-summary> 
        
        </ul>


        <div *ngIf="authControl==false" class="row">
          <div class="col-auto">
            <button class="btn btn-light btn-sm" routerLink="/register" >Register</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-light btn-sm" routerLink="/login">Login</button>
          </div>
        </div>


        
        <div *ngIf="authControl" class="dropdown">
          <button class="btn btn-light dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            {{name.firstName+ " " + name.lastName}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
            <li><hr class="dropdown-divider"></li>   
            <li class="d-flex justify-content-center"><a class="btn btn-danger" (click)="logOut()" [routerLink]="['/']" routerLinkActive="router-link-active" >Çıkış Yap</a></li>      
          </ul>
        </div>
        


      </div>
    </div>
  </nav>  
