<div class="container">
    <div style="border:1px solid cornflowerblue;">
        <div class="p-3" >
            <div class="row">
                <div style="font-size: 130%;" class="col-md-6">
                    <b>Your Credit Cards</b>     
                </div> 
                <div class="col-md-3">
                    Name Surname   
                </div>  
                <div class="col-md-3">
                    Expiration Date    
                </div> 
            </div>     
            <hr>  
            <div class="row m-2" *ngFor="let creditCard of creditCards">
                <div class="form-check col-md-1">
                    <input class="form-check-input" type="radio" (change)="selectedValue(creditCard)" name="flexRadioDefault">                
                </div>
                <div class="form-check col-md-5">
                    {{creditCard.cardNumber.slice(0,4)}} **** **** ****
                </div> 
                <div class="form-check col-md-3">
                    {{creditCard.nameSurname}}
                </div>
                <div class="form-check col-md-3">
                    {{creditCard.endDateMonth}}/{{creditCard.endDateYear}}
                </div>            
            </div>
        </div>     
    </div>    
    <div class="pt-3">
        <button class="btn btn-fill btn-success" style="float: right;">Rental</button>      
    </div> 
</div>

