
<div class="list-group-item list-group-item-action list-group-item-primary" routerLink="/car">All Cars</div>
<br>

<div class="mb-3">
  <label for="filterTextBrand" class="form-label">Markalar</label>
  <input type="text" [(ngModel)]="filterTextBrand" class="form-control" id="filterTextBrand" placeholder="marka giriniz">
</div>

<div class="row">
  <div class="col-md-8">
    <select [(ngModel)]="brandOption"  class="form-select" aria-label="Default select example">
      <option  [value]="brand.brandId" selected="{{getSelectedBrand(brand.brandId)}}"
        *ngFor="let brand of brands | filterBrandPipe:filterTextBrand"> {{brand.name}}  </option>
    </select>
  </div>
  <div class="col-md-4">
    <a  routerLink = "/car/brand/{{brandOption}}" type="button" class="btn btn-success">Filtrele</a>
  </div>
</div>