<div class="list-group-item list-group-item-action list-group-item-primary" routerLink="/car" style="cursor:pointer;" >All Cars</div>
<br>

<div class="mb-3">
  <label for="filterTextBrand" class="form-label">Markalar</label>
  <input type="text" [(ngModel)]="filterTextBrand" class="form-control" id="filterTextBrand" placeholder="marka giriniz">
</div>

<select (change)="setCurrentBrand()" [(ngModel)]="currentBrand" class="form-select" aria-label="Default select example">
  <option  [ngValue]="brand" class="option"
    *ngFor="let brand of brands | filterBrandPipe:filterTextBrand"> {{brand.name}}  </option>
</select>