<br><br><br>
<div class="container">
  <div class="row">
    <div class="mb-3 carousel slide col-md-9" 
        data-bs-ride="carousel" 
        style="height:450px;"  
        id="idName"> 
      <div class="carousel-inner">
        <div  *ngFor="let carImage of carImages" [class]="getCurrentImageClass(carImage)" class="col-md-4">
          <img src="{{apiUrl + carImage.imagePath}}" width="700" height="400"  alt="Image">
        </div>
      </div>
      <div class="row">
        <button *ngFor="let image of carImages;let i = index"
          type="button"
          data-bs-target="#idName"
          attr.data-bs-slide-to="{{i}}"
          aria-current="true"
          class="m-3"
          style="width: 180px; height: 140px;">
          <img src="{{apiUrl + image.imagePath}}" class="w-90" style="float: left;" width="155" height="130"  alt="Image">
        </button>
      </div>
    </div>
    <table class="table table-dark table-striped" style="width:330px">
    <div class="col-md-3 ">
        <ul class="list-group" *ngIf="car " style="width:210px;">
          <li class="list-group-item" style="background-color:chocolate;"><b>FINDEX : {{ car.findex  }}</b></li>
          <li class="list-group-item">Car Id : {{ car.carId  }}</li>
          <li class="list-group-item">Brand : {{ car.brandName }}</li>
          <li class="list-group-item">Color : {{ car.colorName }}</li>
          <li class="list-group-item">Model Year : {{ car.modelYear }}</li>
          <li class="list-group-item">Daily Price : {{ car.dailyPrice }} ₺ </li>
          <li class="list-group-item">Description : {{ car.description }}</li>
          <br>
          <button type="button" (click)="findexControl()" class="btn btn-success">Rental</button>
        </ul>
    </div>
  </table>
  </div>
</div>
  