<br><br>

<div class="row">
  <div class="col-md-8">
    <app-registered-card></app-registered-card>
    <br>
    <br>
    <app-credit-card></app-credit-card>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header" style="font-size: 130%;"><b>Date</b></div>
      <div class="card-body ">
        <div [formGroup]="dateForm">
          <div class="mb-3">
            <label for="rentDate">Rent Date : </label>
            <div class="form-group">
                <input type="date"
                id="rentDate"
                formControlName="rentDate"
                [class]="getCurrentClass()"
                placeholde="Marka id"
                />
            </div>
          </div>            
          <div class="mb-3">
            <label for="returnDate">Return Date : </label>
            <div class="form-group">
                <input type="date"
                id="returnDate"
                formControlName="returnDate"
                [class]="getCurrentClass()"
                placeholde="Marka id"
                />
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-success" style="float:right;"  (click)="setRentable()">Confirmation</button>
      </div>
    </div>
  </div>  
</div>  

  