<div class="card text-dark bg-light mb-3" style="max-width: 50rem; height:400px;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <div>
      <label for="kiralamaTarihi" style="width:125px;" >Kiralanma tarihi : </label>
      <input type="date" id="kiralamaTarihi" class="form-control" (change)="calculatePrice()" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
      <div class="invalid-feedback">Bu tarihte arac kiralanmış</div>
    </div>
    <br>
    <p>
      <label for="iadeTarihi" style="width:100px;">Teslim tarihi : </label>
      <input type="date" id="iadeTarihi" class="form-control" (change)="calculatePrice()" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
    </p>
    <div>
      <button (click)="addRental()" type="button" class="btn btn-success" style="position:absolute; bottom:20px; right:20px;">Kirala</button>
    </div>
  </div>
  
</div>

    