<br><br>
<div class="card mb-2">
    <div class="card-header text-center">
       <strong style="font-size: 20px;">Brand List</strong>
    </div>

    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Brand</th>
            <th><button routerLink="/brand/add" class="btn btn-success " >Add Brand</button></th>
            <th><button routerLink="/brand/add" class="btn btn-danger " >Delete</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let brand of brands"> 
            <td>{{ brand.brandId }}</td>
            <td>{{ brand.name }}</td>
            <td></td>
            <td><button (click)="UpdatePage()" routerLink="/brand/update/{{brand.brandId}}" type="button" class="btn btn-primary">Update</button></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

