<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="card mb-2">
  <div class="card-header text-center">
     <strong>Araç Listesi</strong>
  </div>
  <div class="card-body">


  <div class="mb-3">
    <label for="filterText" class="form-label">Araba ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
  </div>

  <div *ngIf="filterText.length>2" class="alert alert-success">
    {{filterText}} yazdınız
  </div>

  <table *ngIf="dataLoaded==true" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Color</th>
        <th>Model</th>
        <th>Price</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars | filterCarBrandPipe:filterText">
        <td>{{ car.carId }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.colorName }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.dailyPrice }}</td>
        <td>{{ car.description }}</td>
        <td><button (click)="DetailPage(car)"  routerLink="/car/car-detail/{{car.carId}}"  type="button" class="btn btn-success">Detaylar</button></td>
        <td><button (click)="UpdatePage(car)"  routerLink="/car/car-update/{{car.carId}}"  type="button" class="btn btn-primary">Güncelle</button></td>
      </tr>
    </tbody>
  </table>

  </div>
